.settings-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    margin-top: 25px;
}

.settings-header__column {
    width: 33%;
}

.settings-header__column:first-child {
    margin-right: auto;
}

.settings-header__column:nth-child(2) {
    text-align: center;
}

.settings-header__column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.settings-header__column span:last-child {
    margin-left: 25px;
}

.setting-header__title {
    font-size: 25px;
    font-weight: 600;
}